<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <nav>
        <div class="container">
            <div>
                <li><a href="/geoportal">Geoportal for Agricultural</a></li>
               <li><a href="/signUp">Sign Up</a></li>
               <li><a href="/login">Login</a></li>

            </div>
        </div>
    </nav>
</body>
</html>
